<div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" href="#"></a>
        <p>Ваши контакты</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-town_selection avisits-your_contacts display-none">
        <span>Онлайн запись</span>
        <h2>Ваши контакты</h2>
        <div class="error widget-display-none"></div>
        <form>
            <span><input type="tel" name="phone" placeholder="Ваш телефон"></span>
            <span><input type="text" name="fio" placeholder="Ваше имя"></span>
            <span><input type="email" name="email" placeholder="client_email@gmail.com"></span>
            <!--<input type="submit" value="продолжить">-->
        </form>
        <div class="avisits-salon_buttons">
            <a href="#">Продолжить</a>
            <p>Работает на aVisits.</p>
        </div>
    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test.world-travel.uz/frontend/app/widget/images/loading.gif" >
    </div>
</div>
