<div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" href="#"></a>
        <p>Информация о записи</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-information display-none">
        <div class="avisits-scroll-block">
            <div class="avisits-ready">
                <p>Произвольный текст, который прописывается пользователем в настройках виджета (из панели
                    управления)</p>
            </div>
            <div class="avisits-ser">
                <h3>Услуги</h3>
                <ul></ul>
            </div>
            <div class="avisits-specialist">
                <h3>Специалист</h3>
                <div class="visits-special-ava">
                    <div><img src="images/content/img-special.jpg" alt=""></div>
                    <h4></h4>
                    <p>Парикмахер-стилист</p>
                </div>
            </div>
            <div class="avisits-contact-info">
                <h3>ваша контактная информация</h3>
                <div>
                    <p></p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test.world-travel.uz/frontend/app/widget/images/loading.gif">
    </div>
    <div class="avisits-salon_buttons">
        <a href="#">Продолжить</a>
        <p>Работает на aVisits.</p>
    </div>
</div>