<div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" href="#"></a>
        <p>Выбор салонов</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-salon_list display-none">
        <div class="avisits-map">
            <div id="map-canvas"></div>
        </div>
        <div class="avisits-salon_box">
            <div id="scrollbox">
                <ul>

                </ul>
            </div>
        </div>

    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test.world-travel.uz/frontend/app/widget/images/loading.gif" >
    </div>
    <div class="avisits-salon_buttons">
        <p>Работает на aVisits.</p>
    </div>
</div>
