<div class="avisits-main_block">
    <div class="avisits-main_title">
        <!--<a class="avisits-arrow_back" href="#"></a>-->
        <p>Выбор города</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-town_selection display-none">
        <span>Онлайн запись</span>
        <h2>Выберите город</h2>
        <form>
            <p>
                <a class="avisits-menu-item" href="#" data-avists-city="1">Москва <span></span></a>
            </p>
            <p>
                <a class="avisits-menu-item" href="#" data-avists-city="2">Санкт-петербург <span></span></a>
            </p>
            <p>
                <a class="avisits-menu-item" href="#" data-avists-city="3">Казань <span></span></a>
            </p>
        </form>

    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test.world-travel.uz/frontend/app/widget/images/loading.gif" >
    </div>
</div>
