<div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" href="#"></a>
        <p>Выбор специалиста</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-professional_choice display-none">
        <div class="avisits-scroll-block">
            <div class="avisits-row">
                <a href="#" class="avisits-next-item" data-avists-employe="0">Любой специалист</a>
            </div>
            <div class="avisits-professional_box">
                <div id="scrollbox">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test.world-travel.uz/frontend/app/widget/images/loading.gif">
    </div>
    <div class="avisits-salon_buttons">
        <p>Работает на aVisits.</p>
    </div>
</div>