<link rel="stylesheet" href="http://avisits-test/frontend/app/widget/css/slick.css">
<div class="avisits-main_block">
    <div class="avisits-main_title avisits-main_title_date">
        <a class="avisits-arrow_back" href="#"></a>
        <p>Время записи</p>
        <a class="avisits-close" href="#"></a>
        <div class="avisits-date">
            <h2></h2>
            <div class="avisits-date_slider"></div>
        </div>
    </div>
    <div class="avisits-calendar display-none">
        <div class="avisits-item avisits-item-morning">
            <h4>Утро</h4>
            <table></table>
        </div>
        <div class="avisits-item avisits-item-day">
            <h4>День</h4>
            <table></table>
        </div>
        <div class="avisits-item avisits-item-evening">
            <h4>Вечер</h4>
            <table></table>
        </div>

    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test/frontend/app/widget/images/loading.gif" >
    </div>
    <div class="avisits-salon_buttons">
        <p>Работает на aVisits.</p>
    </div>
</div>