<div class="avisits-main_block">
    <div class="avisits-main_title">
        <a class="avisits-arrow_back" href="#"></a>
        <p class="avisits-block_title">Выбор услуг</p>
        <a class="avisits-close" href="#"></a>
    </div>
    <div class="avisits-services display-none">
        <div class="avisits-scroll-block">
            <div class="avisits-form_top">
                <form>
                    <ul></ul>
                </form>
            </div>
            <div class="avisits-form_middle avisits-select-services">
                <div class="error widget-display-none"></div>
                <form>
                    <ul id="accordion"></ul>
                </form>
            </div>
        </div>
        <div class="avisits-row">
            <h3>Добавлено</h3>
            <ul>
                <li>
                    <div><i class="icon_ser"></i><strong>0</strong></div>
                    <p>услуги</p>
                </li>
                <li>
                    <div><i class="icon_pri"></i><strong>0</strong></div>
                    <p>рублей</p>
                </li>
                <li>
                    <div><i class="map icon_clock"></i><strong>0</strong></div>
                    <p>часа минут</p>
                </li>
            </ul>

        </div>
    </div>
    <div class="preloader">
        <p>Идет загрузка, подождите пожалуйста.</p>
        <img src="http://avisits-test/frontend/app/widget/images/loading.gif">
    </div>
    <div class="avisits-salon_buttons">
        <a href="#">Продолжить</a>
        <p>Работает на aVisits.</p>
    </div>
</div>
