.avisits-main_block * {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	outline:none;
}

.avisits-main_block article, header,
.avisits-main_block footer,
.avisits-main_block section,
.avisits-main_block aside,
.avisits-main_block details,
.avisits-main_block nav,
.avisits-main_block summary,
.avisits-main_block figcaption,
.avisits-main_block figure,
.avisits-main_block hgroup,
.avisits-main_block menu,
.avisits-main_block section  {
  display: block;
}

.avisits-main_block meter, .avisits-main_block mark, .avisits-main_block time {
  display: inline-block;
}

.avisits-main_block html {
	height:100%;
}

.avisits-main_block body {
	height:auto;
	min-height:100%;
	position:relative;
	line-height:1;
}

.avisits-main_block  button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner,
.avisits-main_block  input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
.avisits-main_block  input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none; 
	padding:0; 
	margin:0; 
}

.avisits-main_block ol, .avisits-main_block ul {
	list-style:none;
}

.avisits-main_block blockquote, .avisits-main_block q {
	quotes: none;
}

.avisits-main_block blockquote:before,
.avisits-main_block blockquote:after,
.avisits-main_block q:before,
.avisits-main_block q:after {
	content: '';
	content: none;
}

.avisits-main_block blockquote,
.avisits-main_block em {
	font-style: italic;
}

.avisits-main_block table {
	border-collapse:collapse;
	border-spacing:0;
}

.avisits-main_block a {
	outline:0;
}

.avisits-main_block input[type="submit"],
.avisits-main_block input[type="button"],
.avisits-main_block input[type="radio"],
.avisits-main_block input[type="checkbox"],
.avisits-main_block button,
.avisits-main_block label {
	cursor:pointer;
}

.avisits-main_block .clr {
	clear:both;
}

.avisits-main_block .clr15 {
	height:15px;
	clear:both;
}

.avisits-main_block .clr25 {
	height:25px;
	clear:both;
}